<% layout('layouts/reservation-show-layout') -%>

<h4>Edit Reservation!</h4>
<div>
  <a href="/reservations/<%= reservation.id %>">Back</a>
</div>

<form action="/reservations/<%= reservation.id %>?_method=PUT" method="POST">
  <div>
    <input
      type="text"
      name="reservation[name]"
      placeholder="name"
      value="<%= reservation.name  %>"
      required
    />
  </div>
  <div>
    <input
      type="text"
      name="reservation[time]"
      placeholder="time"
      value="<%= reservation.time  %>"
      required
    />
  </div>
  <div>
    <input
      type="text"
      name="reservation[date]"
      placeholder="date"
      value="<%= reservation.date  %>"
      required
    />
  </div>
  <div>
    <textarea name="reservation[description]" placeholder="Description" required>
<%= reservation.description %></textarea
    >
  </div>
  <div>
    <input
      type="text"
      name="reservation[doctor]"
      placeholder="doctor"
      value="<%= reservation.doctor  %>"
      required
    />
  </div>
  <div>
    <input
      type="text"
      name="reservation[location]"
      placeholder="Location"
      value="<%= reservation.location  %>"
      required
    />
  </div>
</br>
  <input id="sta" type="submit" value="update" />
</form>


